.dropdown_wrapper {
    display: inline-block;
    position: relative;
}

.dropdown_button {
    display: inline-block;
    margin: 0 4px;
    background: none;
    border: 0 none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown_list {
    position: absolute;
    top: 100%;
    left: 0;
    /*width: 100%;*/
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 200px;
    overflow-y: auto;
}

.dropdown_option {
    font-size: 12px;
    display: block;
    width: 100%;
    padding: 4px 6px;
    border: 0 none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.dropdown_option:hover {
    background-color: var(--color-button-hover);
}