{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx", ".css"],
        "root": ["./src"],
        "alias": {
          "root": ".",
          "src": "/src"
        }
      }
    ]
  ]
}