.lexical_editor__text_bold {
    font-weight: bold;
}
.lexical_editor__text_italic {
    font-style: italic;
}
.lexical_editor__text_underline {
    text-decoration: underline;
}
.lexical_editor__text_strikethrough {
    text-decoration: line-through;
}
.lexical_editor__text_subscript {
    font-size: 0.8em;
    vertical-align: sub !important;
}
.lexical_editor__text_superscript {
    font-size: 0.8em;
    vertical-align: super;
}
.lexical_editor__text_underline_strikethrough {
    text-decoration: underline line-through;
}
.lexical_editor__text_code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}
.lexical_editor__ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
.lexical_editor__paragraph {
    margin: .2rem;
    position: relative;
}