:global(.lexicalEditorTheme__textBold) {
    font-weight: bold;
}
:global(.lexicalEditorTheme__textItalic) {
    font-style: italic;
}
:global(.lexicalEditorTheme__textUnderline) {
    text-decoration: underline;
}
:global(.lexicalEditorTheme__textStrikethrough) {
    text-decoration: line-through;
}
:global(.lexicalEditorTheme__textSubscript) {
    font-size: 0.8em;
    vertical-align: sub !important;
}
:global(.lexicalEditorTheme__textSuperscript) {
    font-size: 0.8em;
    vertical-align: super;
}
:global(.lexicalEditorTheme__textUnderline) {
    text-decoration: underline;
}
:global(.lexicalEditorTheme__textUnderlineStrikethrough) {
    text-decoration: underline line-through;
}