@import 'src/Editor/theme/colors.css';

.lexical_editor_link_editor_mode_wrapper {

}

.lexical_editor_link_editor {
    position: absolute;
    z-index: 2;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    max-width: 300px;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    border: 1px solid var(--color-border-grey);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    transition: opacity 0.5s;
}

.lexical_editor_link_editor_input {
    display: block;
    width: 75%  ;
    box-sizing: border-box;
    margin: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #eee;
    font-size: 15px;
    color: rgb(5, 5, 5);
    border: 0;
    outline: 0;
    font-family: inherit;
}

.lexical_editor_link_editor_button {
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    vertical-align: -0.25em;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.lexical_editor_link_editor_button:hover {
    opacity: .5;
}

.lexical_editor_link_editor_button svg {
    width: 80%;
    height: 100%;
}

.lexical_editor_link_editor_label_wrapper {
    margin: 10px;
    display: flex;
    align-items: center;
}

.lexical_editor_link_editor_label {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 0;
}

.lexical_editor_link_editor_edit {
    right: 34px;
}

.lexical_editor_link_editor_remove {
    right: 6px;
}

