.lexical_editor_container {
    position: relative;
}

.lexical_editor_content {
    position: relative;
    text-align: left;
    padding: 1rem;
    overflow: auto;
    resize: both;
    min-height: 200px;
    max-height: 800px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.lexical_editor_content:focus-visible {
    outline: none;
}