.lexical_editor_container {
    position: relative;
}

.lexical_editor_content {
    height: 300px;
    position: relative;
    text-align: left;
    padding: .5rem 1rem;
    overflow: auto;
}

.lexical_editor_content:focus-visible {
    outline: none;
}