@import 'src/Editor/theme/colors.css';

.lexical_editor_toolbar_button {
    display: inline-flex;
    margin: 0 2px;
    background: none;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 34px;
    min-width: 34px;
    height: 32px;
}

.lexical_editor_toolbar_button:hover {
    background-color: var(--color-hover-grey);
}

.lexical_editor_toolbar_button__active {
    background-color: var(--color-active-grey);
}

.lexical_editor_toolbar_button__active:hover {
    background-color: var(--color-active-grey);
    border: 1px solid #7D8C94;
}

.lexical_editor_toolbar_button:disabled {
    opacity: .3;
    cursor: default;
}

.lexical_editor_toolbar_button:disabled:hover {
    background: none;
}

.lexical_editor_toolbar_button_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}
