@import 'src/Editor/root.css';

.toolbar_button {
    display: inline-block;
    margin: 0 4px;
    background: none;
    border: 0 none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;

}

.toolbar_button:hover {
    background-color: var(--color-button-hover);
}

.toolbar_button__active {
    background-color: var(--color-button-active);
}