@import 'src/Editor/theme/colors.css';

.lexical_editor_dropdown_wrapper {
    display: inline-block;
    position: relative;
}

.lexical_editor_dropdown_button {
    display: inline-flex;
    margin: 0 2px;
    background: none;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    font-size: 15px;
}

.lexical_editor_dropdown_button:hover {
    background-color: var(--color-hover-grey);
}

.lexical_editor_dropdown_button__active {
    background-color: var(--color-hover-grey);
}

.lexical_editor_dropdown_button__active:hover {
    border: 1px solid var(--color-active-hover-grey);
}

.lexical_editor_dropdown_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.lexical_editor_dropdown_list {
    position: absolute;
    top: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--color-border-grey);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    z-index: 3;
    max-height: 250px;
    overflow-y: auto;
}

.lexical_editor_dropdown_list__visible {
    visibility: visible;
    opacity: 1;
}

.lexical_editor_dropdown_option {
    font-size: 14px;
    display: block;
    /*width: 100%;*/
    padding: 8px 10px;
    border: 0 none;
    background: none;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
}

.lexical_editor_dropdown_option__active {
    background-color: var(--color-hover-grey);
}

.lexical_editor_dropdown_option:hover {
    background-color: var(--color-hover-grey);
}